.container-public{
    display: flex;
    margin-top: 50px;
    position: relative;
    align-items: center;
    justify-content: center;
}
.img-public{
    width: 100%;
    height: 233px;
    object-fit: cover;
    border-radius: 12px;
    filter: brightness(0.5);
}
.title-SS{
    position: absolute;
    color: #fff;
    height: inherit;
    font-size: 48px;
    font-weight: 700;
}

.title-about{
    color: #fff;
    text-align: center;
    font-size: 40px;
    font-weight: 600;
    padding-bottom: 5px;

}

.info-about{
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 10px;
}

.content-description{
    width: 800px;
    color: #262729;
    height: 100%;
    font-size: 16px;
    font-weight: 400;
    margin: 50px auto 0;
    text-align: justify;
}

