.form{
    width: 424px;
    margin: 50px auto 0;
    background: #fff;
    text-align: center;
}
h2{
    margin-bottom: 20px;
}

input{
    width: 400px;
    padding: 10px;
    border-radius: 7px;
    background: rgba(176, 186, 195, 0.2);
    color: #262729;
    outline: none;
}

.form-form{
    margin-bottom: 20px;
}

.form-label{
    text-align: start;
}
.submit-btn{
    border-radius: 7px;
    background: var(--main-color);
    padding: 10px 75px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    margin-top: 10px;
    border: none;
}
.submit-btn:hover{
    background: var(--main-color-hover);
}
.custom-button {
    color: var(--main-color);
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}
.or{
    color: #262729;
    font-size: 22px;
    font-weight: 700;
    margin: 15px 0;
}
.question{
    font-size: 14px;
    font-weight: 400;
}
ul li{
    color: red;
    font-weight: 400;
    font-size: 12px;
    list-style-type: none;
}

ul{
    list-style-type: none;
    margin-bottom: 15px;
}