{% extends 'main/layout.html' %}
{% load static %}

{% block title %}О нас{% endblock %}

{% block content %}
<!--О нас-->
<section class="about">
    <div class="container-about" style="background-image: url({% static 'main/img/content/background-about.png' %});">
        <h2 class="title-SS">Свободный<br>Столик</h2>
        <div class="rectangle">
            <p class="title-about">О проекте</p>
            <p class="info-about">Если у вас возникли вопросы, то вы можете написать или позвонить нам info@freetable.ru
                +7 (902) 718-2848</p>
        </div>
    </div>
    <div class="content">
        Свободный Столик предоставляет сервис по автоматизации процесса онлайн-бронирования, что
        позволяет ресторану собирать базу гостей, работать с их лояльностью и внедрять систему управления посадкой в
        зале.<br><br>
        Мы предлагаем ресторанному рынку следующие IT решения:
        <ul>
            <li>Система управления посадки с помощью нашего сайта для ресторанов</li>
            <li>Использование интерактивной карты как для ресторанов, так и для людей, кто хочет забронировать столик
            </li>
        </ul>
        Гостям мы предлагаем удобные онлайн-сервисы для выбора и бронирования столиков в ресторанах в режиме реального
        времени с помощью интерактивной карты, что дает экономию времени и уверенность в подборе ресторана и столика,
        отвечающие заданными критериями поиска.<br><br>
        Пользоваться нашем сервисом легко - выберите нужный ресторан в нашем каталоге, выберите подходящий вам столик с
        помощью карты, заполните простую форму брони и дождитесь подтверждения по SMS или E-mail.
    </div>
</section>
<!--О нас-->
{% endblock %}