<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <!--favicon.ico-->
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'images/apple-touch-icon.png' %}">
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'images/favicon-32x32.png' %}">
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'images/favicon-16x16.png' %}">
    <link rel="manifest" href="{% static 'images/site.webmanifest' %}">
    <link rel="mask-icon" href="{% static 'images/safari-pinned-tab.svg' %}" color="#0f8edd">
    <meta name="msapplication-TileColor" content="#0f8edd">
    <meta name="theme-color" content="#ffffff">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="{% static 'main/css/main.css' %}">
    {% block css %} {% endblock %}
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=e5591e26-12af-4b05-850e-bb9f1e7ab1cc&lang=ru_RU"></script>
    <title>{% block title %}{% endblock %}</title>
</head>
<body>
<div class="adaptive">
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <span {% if message.tags %} class="{{ message.tags }}"{% endif %} >{{ message }}</span>
            {% endfor %}
        </div>
    {% endif %}
    <!--Шапка сайта-->
    <header class="header">
        <div class="container">
            <div class="header-line">
                <div class="header-logo">
                    <a class="logo-text" href="{% url 'main' %}">Свободный<br>Столик</a>
                </div>
                <nav class="nav">
                    <a class="nav-item" href="{% url 'restaurants' %}">Рестораны</a><a class="nav-item" href="{% url 'publications' %}">Блог</a><a class="nav-item" href="{% url 'about' %}">О нас</a>
                </nav>
                <div class="profiles">
                    {% if user.is_authenticated %}
                        {% if user.is_staff %}
                            <a class="rest-profile-btn full" href="{% url 'restaurants:create' %}">+Создать ресторан</a>
                            <a class="rest-profile-btn abbrev" href="{% url 'restaurants:create' %}">+</a>
                        {% endif %}
                        {% if user_belongs_to_owners_group %}
                            {% if user_has_restaurant %}
                            <a class="rest-profile-btn full" href="{% url 'restaurants:create' %}">+Создать ресторан</a>
                            <a class="rest-profile-btn abbrev" href="{% url 'restaurants:create' %}">+</a>
                            {% else %}
                            <a class="rest-profile-btn full" href="{% url 'restaurants:my-rests' %}">Мои рестораны</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                    <div class="profile">
                        <a class="img-profile" href="{% url 'profile' %}"><img
                                src="{% static 'main/img/header/profile.png' %}" alt=""></a>
                    </div>
                    <img id="mobile-btn" class="mobile-menu" src="{% static 'main/img/header/nav-mobile-menu.svg' %}" alt="">
                    <div id="mobile">
                        <a class="nav-item mobile" href="{% url 'restaurants' %}">Рестораны</a><a class="nav-item mobile" href="{% url 'publications' %}">Блог</a><a class="nav-item mobile" href="{% url 'about' %}">О нас</a>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <!--/Шапка сайта-->
    {% block content %}
    {% endblock %}
    <!--Подвал сайта-->
    <footer class="footer">
        <div class="footer-container">
            <hr>
            <div class="up-footer">
                <div class="footer-logo">
                    <div class="header-logo">
                        <a class="logo-text" href="{% url 'main' %}">Свободный<br>Столик</a>
                    </div>
                    <div class="social-block">
                        <p class="social-item text">Мы в соцсетях</p>
                        <a href="https://www.vk.com/" class="social-item social-icon">
                            <i class='bx bxl-vk'></i>
                        </a>
                        <a href="https://web.telegram.org/" class="social-item social-icon">
                            <i class='bx bxl-telegram' ></i>
                        </a>
                    </div>
                </div>
                <ul class="footer-info-block">
                    <li><a class="footer-info-item" href="{% url 'about' %}">О проекте</a></li>
                    <li><a class="footer-info-item" href="@">Контакты</a></li>
                    <li><a class="footer-info-item" href="@">Ресторанам/Партнерам</a></li>
                    <li><a class="footer-info-item" href="@">Вакансии</a></li>
                    <li><a class="footer-info-item" href="@">Пользовательские соглашения</a></li>
                </ul>
            </div>
        </div>
    </footer>
    <!--/Подвал сайта-->
</div>
{% block script %} {% endblock %}
<script src="{% static 'main/js/jquery-3.7.1.min.js' %}"></script>
<script src="{% static 'main/js/main.js' %}"></script>
</body>
</html>